Query: how to lyd_new_path the injected leaf by argument of another module in current subscribe callback 

1. current module ietf-hardware part
```yang
  container hardware {
    description
      "Data nodes representing components.

       If the server supports configuration of hardware components,
       then this data model is instantiated in the configuration
       datastores supported by the server.  The leaf-list 'datastore'
       for the module 'ietf-hardware' in the YANG library provides
       this information.";

    leaf last-change {
      type yang:date-and-time;
      config false;
      description
        "The time the '/hardware/component' list changed in the
         operational state.";
    }

    list component {
      key name;
      description
        "List of components.

         When the server detects a new hardware component, it
         initializes a list entry in the operational state.

         If the server does not support configuration of hardware
         components, list entries in the operational state are
         initialized with values for all nodes as detected by the
         implementation.

         Otherwise, this procedure is followed:

           1. If there is an entry in the '/hardware/component' list
              in the intended configuration with values for the nodes
              'class', 'parent', and 'parent-rel-pos' that are equal
              to the detected values, then the list entry in the
              operational state is initialized with the configured
              values, including the 'name'.

           2. Otherwise (i.e., there is no matching configuration
              entry), the list entry in the operational state is
              initialized with values for all nodes as detected by
              the implementation.

         If the '/hardware/component' list in the intended
         configuration is modified, then the system MUST behave as if
         it re-initializes itself and follow the procedure in (1).";
      reference
        "RFC 6933: Entity MIB (Version 4) - entPhysicalEntry";

      leaf name {
        type string;
        description
          "The name assigned to this component.

           This name is not required to be the same as
           entPhysicalName.";
      }

      leaf class {
        type identityref {
          base ianahw:hardware-class;
        }
        mandatory true;
        description
          "An indication of the general hardware type of the
           component.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalClass";
      }

      leaf physical-index {
        if-feature entity-mib;
        type int32 {
          range "1..2147483647";
        }
        config false;
        description
          "The entPhysicalIndex for the entPhysicalEntry represented
           by this list entry.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalIndex";
      }

      leaf description {
        type string;
        config false;
        description
          "A textual description of the component.  This node should
           contain a string that identifies the manufacturer's name
           for the component and should be set to a distinct value
           for each version or model of the component.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalDescr";
      }

      leaf parent {
        type leafref {
          path "../../component/name";
          require-instance false;
        }
        description
          "The name of the component that physically contains this
           component.

           If this leaf is not instantiated, it indicates that this
           component is not contained in any other component.

           In the event that a physical component is contained by
           more than one physical component (e.g., double-wide
           modules), this node contains the name of one of these
           components.  An implementation MUST use the same name
           every time this node is instantiated.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalContainedIn";
      }

      leaf parent-rel-pos {
        type int32 {
          range "0 .. 2147483647";
        }
        description
          "An indication of the relative position of this child
           component among all its sibling components.  Sibling
           components are defined as components that:

             o share the same value of the 'parent' node and

             o share a common base identity for the 'class' node.

           Note that the last rule gives implementations flexibility
           in how components are numbered.  For example, some
           implementations might have a single number series for all
           components derived from 'ianahw:port', while some others
           might have different number series for different
           components with identities derived from 'ianahw:port' (for
           example, one for registered jack 45 (RJ45) and one for
           small form-factor pluggable (SFP)).";

        reference
          "RFC 6933: Entity MIB (Version 4) -
                     entPhysicalParentRelPos";
      }

      leaf-list contains-child {
        type leafref {
          path "../../component/name";
        }
        config false;
        description
          "The name of the contained component.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalChildIndex";
      }

      leaf hardware-rev {
        type string;
        config false;
        description
          "The vendor-specific hardware revision string for the
           component.  The preferred value is the hardware revision
           identifier actually printed on the component itself (if
           present).";
        reference
          "RFC 6933: Entity MIB (Version 4) -
                     entPhysicalHardwareRev";
      }

      leaf firmware-rev {
        type string;
        config false;
        description
          "The vendor-specific firmware revision string for the
           component.";
        reference
          "RFC 6933: Entity MIB (Version 4) -
                     entPhysicalFirmwareRev";
      }

      leaf software-rev {
        type string;
        config false;

        description
          "The vendor-specific software revision string for the
           component.";
        reference
          "RFC 6933: Entity MIB (Version 4) -
                     entPhysicalSoftwareRev";
      }

      leaf serial-num {
        type string;
        config false;
        description
          "The vendor-specific serial number string for the
           component.  The preferred value is the serial number
           string actually printed on the component itself (if
           present).";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalSerialNum";
      }

      leaf mfg-name {
        type string;
        config false;
        description
          "The name of the manufacturer of this physical component.
           The preferred value is the manufacturer name string
           actually printed on the component itself (if present).

           Note that comparisons between instances of the
           'model-name', 'firmware-rev', 'software-rev', and
           'serial-num' nodes are only meaningful amongst components
           with the same value of 'mfg-name'.

           If the manufacturer name string associated with the
           physical component is unknown to the server, then this
           node is not instantiated.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalMfgName";
      }

      leaf model-name {
        type string;
        config false;
        description
          "The vendor-specific model name identifier string
           associated with this physical component.  The preferred
           value is the customer-visible part number, which may be
           printed on the component itself.
           If the model name string associated with the physical
           component is unknown to the server, then this node is not
           instantiated.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalModelName";
      }

      leaf alias {
        type string;
        description
          "An 'alias' name for the component, as specified by a
           network manager, that provides a non-volatile 'handle' for
           the component.

           If no configured value exists, the server MAY set the
           value of this node to a locally unique value in the
           operational state.

           A server implementation MAY map this leaf to the
           entPhysicalAlias MIB object.  Such an implementation needs
           to use some mechanism to handle the differences in size
           and characters allowed between this leaf and
           entPhysicalAlias.  The definition of such a mechanism is
           outside the scope of this document.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalAlias";
      }

      leaf asset-id {
        type string;
        description
          "This node is a user-assigned asset tracking identifier for
           the component.

           A server implementation MAY map this leaf to the
           entPhysicalAssetID MIB object.  Such an implementation
           needs to use some mechanism to handle the differences in
           size and characters allowed between this leaf and
           entPhysicalAssetID.  The definition of such a mechanism is
           outside the scope of this document.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalAssetID";
      }

      leaf is-fru {
        type boolean;
        config false;

        description
          "This node indicates whether or not this component is
           considered a 'field-replaceable unit' by the vendor.  If
           this node contains the value 'true', then this component
           identifies a field-replaceable unit.  For all components
           that are permanently contained within a field-replaceable
           unit, the value 'false' should be returned for this
           node.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalIsFRU";
      }

      leaf mfg-date {
        type yang:date-and-time;
        config false;
        description
          "The date of manufacturing of the managed component.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalMfgDate";
      }

      leaf-list uri {
        type inet:uri;
        description
          "This node contains identification information about the
           component.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalUris";
      }

      leaf uuid {
        type yang:uuid;
        config false;
        description
          "A Universally Unique Identifier of the component.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalUUID";
      }

      container state {
        if-feature hardware-state;
        description
          "State-related nodes";
        reference
          "RFC 4268: Entity State MIB";

        leaf state-last-changed {
          type yang:date-and-time;
          config false;
          description
            "The date and time when the value of any of the
             admin-state, oper-state, usage-state, alarm-state, or
             standby-state changed for this component.

             If there has been no change since the last
             re-initialization of the local system, this node
             contains the date and time of local system
             initialization.  If there has been no change since the
             component was added to the local system, this node
             contains the date and time of the insertion.";
          reference
            "RFC 4268: Entity State MIB - entStateLastChanged";
        }

        leaf admin-state {
          type admin-state;
          description
            "The administrative state for this component.

             This node refers to a component's administrative
             permission to service both other components within its
             containment hierarchy as well other users of its
             services defined by means outside the scope of this
             module.

             Some components exhibit only a subset of the remaining
             administrative state values.  Some components cannot be
             locked; hence, this node exhibits only the 'unlocked'
             state.  Other components cannot be shut down gracefully;
             hence, this node does not exhibit the 'shutting-down'
             state.";
          reference
            "RFC 4268: Entity State MIB - entStateAdmin";
        }

        leaf oper-state {
          type oper-state;
          config false;
          description
            "The operational state for this component.

             Note that this node does not follow the administrative
             state.  An administrative state of 'down' does not
             predict an operational state of 'disabled'.

             Note that some implementations may not be able to
             accurately report oper-state while the admin-state node
             has a value other than 'unlocked'.  In these cases, this
             node MUST have a value of 'unknown'.";
          reference
            "RFC 4268: Entity State MIB - entStateOper";
        }

        leaf usage-state {
          type usage-state;
          config false;
          description
            "The usage state for this component.

             This node refers to a component's ability to service
             more components in a containment hierarchy.

             Some components will exhibit only a subset of the usage
             state values.  Components that are unable to ever
             service any components within a containment hierarchy
             will always have a usage state of 'busy'.  In some
             cases, a component will be able to support only one
             other component within its containment hierarchy and
             will therefore only exhibit values of 'idle' and
             'busy'.";
          reference
            "RFC 4268: Entity State MIB - entStateUsage";
        }

        leaf alarm-state {
          type alarm-state;
          config false;
          description
            "The alarm state for this component.  It does not
             include the alarms raised on child components within its
             containment hierarchy.";
          reference
            "RFC 4268: Entity State MIB - entStateAlarm";
        }

        leaf standby-state {
          type standby-state;
          config false;
          description
            "The standby state for this component.

             Some components will exhibit only a subset of the
             remaining standby state values.  If this component
             cannot operate in a standby role, the value of this node
             will always be 'providing-service'.";
          reference
            "RFC 4268: Entity State MIB - entStateStandby";
        }
      }

      container sensor-data {
        when 'derived-from-or-self(../class,
                                   "ianahw:sensor")' {
          description
            "Sensor data nodes present for any component of type
             'sensor'";
        }
        if-feature hardware-sensor;
        config false;

        description
          "Sensor-related nodes.";
        reference
          "RFC 3433: Entity Sensor Management Information Base";

        leaf value {
          type sensor-value;
          description
            "The most recent measurement obtained by the server
             for this sensor.

             A client that periodically fetches this node should also
             fetch the nodes 'value-type', 'value-scale', and
             'value-precision', since they may change when the value
             is changed.";
          reference
            "RFC 3433: Entity Sensor Management Information Base -
                       entPhySensorValue";
        }

        leaf value-type {
          type sensor-value-type;
          description
            "The type of data units associated with the
             sensor value";
          reference
            "RFC 3433: Entity Sensor Management Information Base -
                       entPhySensorType";
        }
        leaf value-scale {
          type sensor-value-scale;
          description
            "The (power of 10) scaling factor associated
             with the sensor value";
          reference
            "RFC 3433: Entity Sensor Management Information Base -
                       entPhySensorScale";
        }

        leaf value-precision {
          type sensor-value-precision;
          description
            "The number of decimal places of precision
             associated with the sensor value";
          reference
            "RFC 3433: Entity Sensor Management Information Base -
                       entPhySensorPrecision";
        }

        leaf oper-status {
          type sensor-status;
          description
            "The operational status of the sensor.";
          reference
            "RFC 3433: Entity Sensor Management Information Base -
                       entPhySensorOperStatus";
        }

        leaf units-display {
          type string;
          description
            "A textual description of the data units that should be
             used in the display of the sensor value.";
          reference
            "RFC 3433: Entity Sensor Management Information Base -
                       entPhySensorUnitsDisplay";
        }

        leaf value-timestamp {
          type yang:date-and-time;
          description
            "The time the status and/or value of this sensor was last
             obtained by the server.";
          reference
            "RFC 3433: Entity Sensor Management Information Base -
                       entPhySensorValueTimeStamp";
        }
        leaf value-update-rate {
          type uint32;
          units "milliseconds";
          description
            "An indication of the frequency that the server updates
             the associated 'value' node, represented in
             milliseconds.  The value zero indicates:

              - the sensor value is updated on demand (e.g.,
                when polled by the server for a get-request),

              - the sensor value is updated when the sensor
                value changes (event-driven), or

              - the server does not know the update rate.";
          reference
            "RFC 3433: Entity Sensor Management Information Base -
                       entPhySensorValueUpdateRate";
        }
      }
    }
  }
```
2. argument leaf by o-ran-hardware
```yang
  augment "/hw:hardware/hw:component" {
    when "(derived-from-or-self(hw:class, 'o-ran-hw:O-RAN-RADIO')) or
    (derived-from-or-self(hw:class, 'o-ran-hw:O-RAN-HW-COMPONENT'))";
    description "New O-RAN parameters for o-ran hardware";

    container label-content {
      config false;
      description
        "Which set of attributes are printed on the Radio Unit's label";
      leaf model-name {
        type boolean;
        description
          "indicates whether model-name is included on the equipment's label";
      }
      leaf serial-number {
        type boolean;
        description
          "indicates whether serial number is included on the equipment's label";
      }
    }
    leaf product-code {
      type string;
      config false;
      mandatory true;
      description
        "O-RAN term that is distinct from model-name in ietf-hardware.";
    }
    leaf energy-saving-enabled {
      if-feature "ENERGYSAVING";
      type boolean;
      config true;
      default false;
      description
        "This parameter can enable O-RAN unit to be switched to energy
         saving mode.
         TRUE indicates to switch the energy saving mode.
         FALSE indicates to cancel the energy saving mode.
         At the energy saving mode, all power of whole O-RAN unit becomes
         lowest level whereas M-plane is still available";
    }
  }

  augment "/hw:hardware/hw:component" {
    when "(derived-from-or-self(hw:class, 'o-ran-hw:O-RAN-RADIO')) or
    (derived-from-or-self(hw:class, 'ianahw:port')) or
    (derived-from-or-self(hw:class, 'o-ran-hw:O-RAN-HW-COMPONENT'))";
    description "New O-RAN parameters for o-ran naming";
    leaf o-ran-name {
      type leafref {
        path "/hw:hardware/hw:component/hw:name";
      }
      must "re-match(current(),'[a-zA-Z0-9][a-zA-Z0-9\\.\\-_]{0,253}[a-zA-Z0-9]')" {
        error-message "Name must match pattern and length.";
      }
      mandatory true;
      description
        "O-RAN name needed to bind and match with the name of hw element,
        to be compliant with O-RAN naming convention.";
    }
  }

  augment "/hw:hardware/hw:component/hw:state"  {
    when "(derived-from-or-self(../hw:class, 'o-ran-hw:O-RAN-RADIO')) or
    (derived-from-or-self(../hw:class, 'o-ran-hw:O-RAN-HW-COMPONENT'))";
    description
      "new O-RAN defined state";
    leaf power-state {
      if-feature "ENERGYSAVING";
      type energysaving-state;
      config false;
      description
        "The current power saving state for this component.
        Note - hw:/hardware/compnent/state/standby-state defined in RFC 4268 is
        used for redundancy purposes and not power saving operations.";
    }
    leaf availability-state {
      type availability-type;
      config false;
      description
        "Equipment's availability-state is derived by matching active faults
         and their impact to module's operation and enables an equipment to indicate
         that even though it may have one or more critical alarms, it can continue
         to serve traffic.";
    }
  }
```
3. callback
```c
char ietf_hardware_hardware_xpath[128] = {0};
    sprintf(ietf_hardware_hardware_xpath, "/ietf-hardware:hardware");
    *parent = lyd_new_path(NULL, sr_get_context(sr_session_get_connection(session)), ietf_hardware_hardware_xpath, NULL, 0, 0);
    /* print the values */
    for (i = 0; i < val_count; ++i) {
        char name[32] = {0};
        print_val(&vals[i]);
        if (!match(vals[i].xpath, format, name))
        {
            char hardware_rev[128] = {0};
            sprintf(hardware_rev, "/ietf-hardware:hardware/component[name='%s']/hardware-rev", name);
            lyd_new_path(*parent, NULL, hardware_rev, hardware_rev_val, 0, 0);

            char firmware_rev[128] = {0};
            sprintf(firmware_rev, "/ietf-hardware:hardware/component[name='%s']/firmware-rev", name);
            lyd_new_path(*parent, NULL, firmware_rev, firmware_rev_val, 0, 0);

            char software_rev[128] = {0};
            sprintf(software_rev, "/ietf-hardware:hardware/component[name='%s']/software-rev", name);
            lyd_new_path(*parent, NULL, software_rev, software_rev_val, 0, 0);

            char serial_num[128] = {0};
            sprintf(serial_num, "/ietf-hardware:hardware/component[name='%s']/serial-num", name);
            lyd_new_path(*parent, NULL, serial_num, serial_num_val, 0, 0);

            char mfg_name[128] = {0};
            sprintf(mfg_name, "/ietf-hardware:hardware/component[name='%s']/mfg-name", name);
            lyd_new_path(*parent, NULL, mfg_name, mfg_name_val, 0, 0);

            char model_name[128] = {0};
            sprintf(model_name, "/ietf-hardware:hardware/component[name='%s']/model-name", name);
            lyd_new_path(*parent, NULL, model_name, model_name_val, 0, 0);

            //**o-ran-hardware product-code**
            char product_code[128] = {0};
            sprintf(product_code, "/ietf-hardware:hardware/component[name='%s']/o-ran-hw:product-code", name);
            lyd_new_path(*parent, NULL, product_code, product_code_val, 0, 0);

            char admin_state[128] = {0};
            sprintf(admin_state, "/ietf-hardware:hardware/component[name='%s']/state/admin-state", name);
            lyd_new_path(*parent, NULL, admin_state, admin_state_val, 0, 0);

            char oper_state[128] = {0};
            sprintf(oper_state, "/ietf-hardware:hardware/component[name='%s']/state/oper-state", name);
            lyd_new_path(*parent, NULL, oper_state, oper_state_val, 0, 0);

            char usage_state[128] = {0};
            sprintf(usage_state, "/ietf-hardware:hardware/component[name='%s']/state/usage-state", name);
            lyd_new_path(*parent, NULL, usage_state, usage_state_val, 0, 0);

            char alarm_state[128] = {0};
            sprintf(alarm_state, "/ietf-hardware:hardware/component[name='%s']/state/alarm-state", name);
            lyd_new_path(*parent, NULL, alarm_state, alarm_state_val, 0, 0);

            char standby_state[128] = {0};
            sprintf(standby_state, "/ietf-hardware:hardware/component[name='%s']/state/standby-state", name);
            lyd_new_path(*parent, NULL, standby_state, standby_state_val, 0, 0);

            //**o-ran-hardware power-state**
            char power_state[128] = {0};
            sprintf(power_state, "/ietf-hardware:hardware/component[name='%s']/state/o-ran-hw:power-state", name);
            lyd_new_path(*parent, NULL, power_state, power_state_val, 0, 0);

            //**o-ran-hardware avail-state**
            char avail_state[128] = {0};
            sprintf(avail_state, "/ietf-hardware:hardware/component[name='%s']/state/o-ran-hw:availability-state", name);
            lyd_new_path(*parent, NULL, avail_state, avail_state_val, 0, 0);
        }
    }
```
4. query the hardware modue:
```
> get --filter-xpath "/ietf-hardware:hardware" --defaults report-all
DATA
<hardware xmlns="urn:ietf:params:xml:ns:yang:ietf-hardware">
  <component>
    <name>o-ran-ru2</name>
    <class xmlns:o-ran-hw="urn:o-ran:hardware:1.0">o-ran-hw:O-RU-COMPONENT</class>
    <state>
      <admin-state>locked</admin-state>
      <oper-state>unknown</oper-state>
      <usage-state>active</usage-state>
      <alarm-state>unknown</alarm-state>
      <standby-state>unknown</standby-state>
    </state>
    <o-ran-name xmlns="urn:o-ran:hardware:1.0">o-ran-ru2</o-ran-name>
    <energy-saving-enabled xmlns="urn:o-ran:hardware:1.0">false</energy-saving-enabled>
    <hardware-rev>TEST</hardware-rev>
    <firmware-rev>TEST</firmware-rev>
    <software-rev>TEST</software-rev>
    <serial-num>TEST</serial-num>
    <mfg-name>TEST</mfg-name>
    <model-name>TEST</model-name>
  </component>
</hardware>
```
Why the product-code/power-state/avail-state don't insert into the ietf-hardware? how to add it?
[yang.zip](https://github.com/sysrepo/sysrepo/files/5089285/yang.zip)




Hi,
before I try it myself, could you please try using `sysrepocfg` instead of *netopeer2* and `get`? That should make it clear whether there really is a problem.
```
sysrepocfg -X -d operational -x /ietf-hardware:hardware -e report-all
```

-e report-all don't support. 
```
root@oru-project:~# sysrepocfg -X -d operational -x /ietf-hardware:hardware
<hardware xmlns="urn:ietf:params:xml:ns:yang:ietf-hardware">
  <component>
    <name>o-ran-ru2</name>
    <hardware-rev>TEST</hardware-rev>
    <firmware-rev>TEST</firmware-rev>
    <software-rev>TEST</software-rev>
    <serial-num>TEST</serial-num>
    <mfg-name>TEST</mfg-name>
    <model-name>TEST</model-name>
    <state>
      <admin-state>unlocked</admin-state>
      <oper-state>unknown</oper-state>
      <usage-state>active</usage-state>
      <alarm-state>unknown</alarm-state>
      <standby-state>unknown</standby-state>
    </state>
  </component>
</hardware>
```

Hi,
you need to check return values of `lyd_new_path()`, they are failing for various reasons.

How to open the log of libyang in the `sysrepo-plugind` process?
I think there is no problem with the code I wrote...

You can check for the error by simply testing whether it returns `NULL` but you probably figured that out. As for the errors themselves, you need to cooperate with how *sysrepo-plugind* sets *libyang* logging so it is not that straightforward. However, all that should be needed is to call `ly_log_options(LY_LOLOG)` at the beginning of your function and then `ly_log_options(LY_LOSTORE)` at the end (to reset it back how *sysrepo* needs it). This should make sure all the messages are printed. It would also be possible to get them directly but you probably do not need that and it would be more complex than this.

libyang[0]: Schema node not found. (path: /ietf-hardware:hardware/component[name='o-ran-ru2']/state/o-ran-hw:power-state)
[ERR]: plugin: [ietf_hardware_hardware_config_change_cb:542] lyd_new_path /ietf-hardware:hardware/component[name='o-ran-ru2']/state/o-ran-hw:power-state return NULL.


As if I did not write it before... Most likely because you do not have the `ENERGYSAVING` feature enabled. Please try to think about the problem first and do not expect me to exactly tell you everything.

Thank you @michalvasko.
The ENERGYSAVING feature have enabled in the beginning.

Can you confirm that by pasting the output of `sysrepoctl -l`?

Well, in the `sysrepoctl -l` output it is `o-ran-hardware` so that is why using `o-ran-hw` produces the schema-not-found error. I have helped you how I could.

Hi @michalvasko , I found the lead don't inject into the ietf-hardware from o-ran-hardware by argument statement.
1. I paste the part of o-ran-hardware.yang
```yang
  // identity statements
  identity O-RAN-RADIO {
    base ianahw:module;
    description
      "Module used as it represents a self-contained sub-system
      used in /hw:/hardware/hw:component/hw:class to represent
      an O-RAN RU";
  }

  identity O-RAN-HW-COMPONENT {
    base ianahw:module;
    description
      "Module used as it represents a self-contained sub-system
      used in /hw:/hardware/hw:component/hw:class to represent
      any O-RAN hardware component";
  }

  identity O-DU-COMPONENT {
    base O-RAN-HW-COMPONENT;
    description
      "Used in /hw:/hardware/hw:component/hw:class to represent
      any O-RAN defined O-DU hardware component";
  }

  identity O-RU-COMPONENT {
    base O-RAN-HW-COMPONENT;
    description
      "Used in /hw:/hardware/hw:component/hw:class to represent
      any O-RAN defined O-RU hardware component, including a stand-alone
      O-RU or an O-RU component integrated into a multi-module system.";
  }
...
  augment "/hw:hardware/hw:component" {
    when "(derived-from-or-self(hw:class, 'o-ran-hw:O-RAN-RADIO')) or
    (derived-from-or-self(hw:class, 'o-ran-hw:O-RAN-HW-COMPONENT'))";
    description "New O-RAN parameters for o-ran hardware";

    container label-content {
      config false;
      description
        "Which set of attributes are printed on the Radio Unit's label";
      leaf model-name {
        type boolean;
        description
          "indicates whether model-name is included on the equipment's label";
      }
      leaf serial-number {
        type boolean;
        description
          "indicates whether serial number is included on the equipment's label";
      }
    }
    leaf product-code {
      type string;
      config false;
      mandatory true;
      description
        "O-RAN term that is distinct from model-name in ietf-hardware.";
    }
    leaf energy-saving-enabled {
      if-feature "ENERGYSAVING";
      type boolean;
      config true;
      default false;
      description
        "This parameter can enable O-RAN unit to be switched to energy
         saving mode.
         TRUE indicates to switch the energy saving mode.
         FALSE indicates to cancel the energy saving mode.
         At the energy saving mode, all power of whole O-RAN unit becomes
         lowest level whereas M-plane is still available";
    }
  }
  augment "/hw:hardware/hw:component" {
    when "(derived-from-or-self(hw:class, 'o-ran-hw:O-RAN-RADIO')) or
    (derived-from-or-self(hw:class, 'ianahw:port')) or
    (derived-from-or-self(hw:class, 'o-ran-hw:O-RAN-HW-COMPONENT'))";
    description "New O-RAN parameters for o-ran naming";
    leaf o-ran-name {
      type leafref {
        path "/hw:hardware/hw:component/hw:name";
      }
      must "re-match(current(),'[a-zA-Z0-9][a-zA-Z0-9\\.\\-_]{0,253}[a-zA-Z0-9]')" {
        error-message "Name must match pattern and length.";
      }
      mandatory true;
      description
        "O-RAN name needed to bind and match with the name of hw element,
        to be compliant with O-RAN naming convention.";
    }
  }

  augment "/hw:hardware/hw:component/hw:state"  {
    when "(derived-from-or-self(../hw:class, 'o-ran-hw:O-RAN-RADIO')) or
    (derived-from-or-self(../hw:class, 'o-ran-hw:O-RAN-HW-COMPONENT'))";
    description
      "new O-RAN defined state";
    leaf power-state {
      if-feature "ENERGYSAVING";
      type energysaving-state;
      config false;
      description
        "The current power saving state for this component.
        Note - hw:/hardware/compnent/state/standby-state defined in RFC 4268 is
        used for redundancy purposes and not power saving operations.";
    }
    leaf availability-state {
      type availability-type;
      config false;
      description
        "Equipment's availability-state is derived by matching active faults
         and their impact to module's operation and enables an equipment to indicate
         that even though it may have one or more critical alarms, it can continue
         to serve traffic.";
    }
  }
```
2. paste the part of ietf-hardware@2018-03-13.yang
```yang

    list component {
      key name;
      description
        "List of components.

         When the server detects a new hardware component, it
         initializes a list entry in the operational state.

         If the server does not support configuration of hardware
         components, list entries in the operational state are
         initialized with values for all nodes as detected by the
         implementation.

         Otherwise, this procedure is followed:

           1. If there is an entry in the '/hardware/component' list
              in the intended configuration with values for the nodes
              'class', 'parent', and 'parent-rel-pos' that are equal
              to the detected values, then the list entry in the
              operational state is initialized with the configured
              values, including the 'name'.

           2. Otherwise (i.e., there is no matching configuration
              entry), the list entry in the operational state is
              initialized with values for all nodes as detected by
              the implementation.

         If the '/hardware/component' list in the intended
         configuration is modified, then the system MUST behave as if
         it re-initializes itself and follow the procedure in (1).";
      reference
        "RFC 6933: Entity MIB (Version 4) - entPhysicalEntry";

      leaf name {
        type string;
        description
          "The name assigned to this component.

           This name is not required to be the same as
           entPhysicalName.";
      }

      leaf class {
        type identityref {
          base ianahw:hardware-class;
        }
        mandatory true;
        description
          "An indication of the general hardware type of the
           component.";
        reference
          "RFC 6933: Entity MIB (Version 4) - entPhysicalClass";
      }
```
3. paste the iana-hardware
```yang
  identity hardware-class {
    description
      "This identity is the base for all hardware class
       identifiers.";
  }

  identity unknown {
    base ianahw:hardware-class;
    description
      "This identity is applicable if the hardware class is unknown
       to the server.";
  }

  identity chassis {
    base ianahw:hardware-class;
    description
      "This identity is applicable if the hardware class is an
       overall container for networking equipment.  Any class of
       physical component, except a stack, may be contained within a
       chassis; a chassis may only be contained within a stack.";
  }

  identity backplane {
    base ianahw:hardware-class;
    description
      "This identity is applicable if the hardware class is some sort
       of device for aggregating and forwarding networking traffic,
       such as a shared backplane in a modular ethernet switch.  Note
       that an implementation may model a backplane as a single
       physical component, which is actually implemented as multiple
       discrete physical components (within a chassis or stack).";
  }

  identity container {
    base ianahw:hardware-class;
    description
      "This identity is applicable if the hardware class is capable
       of containing one or more removable physical entities,
       possibly of different types.  For example, each (empty or
       full) slot in a chassis will be modeled as a container.  Note
       that all removable physical components should be modeled
       within a container component, such as field-replaceable
       modules, fans, or power supplies.  Note that all known
       containers should be modeled by the agent, including empty
       containers.";
  }

  identity power-supply {
    base ianahw:hardware-class;
    description
      "This identity is applicable if the hardware class is a
       power-supplying component.";
  }

  identity fan {
    base ianahw:hardware-class;
    description
      "This identity is applicable if the hardware class is a fan or
       other heat-reduction component.";
  }

  identity sensor {
    base ianahw:hardware-class;
    description
      "This identity is applicable if the hardware class is some sort
       of sensor, such as a temperature sensor within a router
       chassis.";
  }

  identity module {
    base ianahw:hardware-class;
    description
      "This identity is applicable if the hardware class is some sort
       of self-contained sub-system.  If a module component is
       removable, then it should be modeled within a container

       component; otherwise, it should be modeled directly within
       another physical component (e.g., a chassis or another
       module).";
  }
```
4. I try to set the leaf by sr_set_item_example:
```
root@oru-project:~# ./sr_set_item_example "/ietf-hardware:hardware/component[name='o-ran-ru2']/o-ran-hardware:product-code" "12345"
Application will set "/ietf-hardware:hardware/component[name='o-ran-ru2']/o-ran-hardware:product-code" to "12345".
[ERR]: Unknown element "product-code". (path: /ietf-hardware:hardware/component[name='o-ran-ru2']/o-ran-hardware:product-code)
[ERR]: Validation failed.

root@oru-project:~# ./sr_set_item_example "/ietf-hardware:hardware/component[name='o-ran-ru2']/state/o-ran-hardware:power-state" "UNKNOWN"
Application will set "/ietf-hardware:hardware/component[name='o-ran-ru2']/state/o-ran-hardware:power-state" to "UNKNOWN".
[ERR]: Unknown element "power-state". (path: /ietf-hardware:hardware/component[name='o-ran-ru2']/state/o-ran-hardware:power-state)
[ERR]: Validation failed. 
```
5. query the hardware module:
```
> get --filter-xpath "/ietf-hardware:hardware" --defaults report-all
DATA
<hardware xmlns="urn:ietf:params:xml:ns:yang:ietf-hardware">
  <component>
    <name>o-ran-ru2</name>
    <class xmlns:o-ran-hw="urn:o-ran:hardware:1.0">o-ran-hw:O-RU-COMPONENT</class>
    <state>
      <admin-state>locked</admin-state>
      <oper-state>unknown</oper-state>
      <usage-state>active</usage-state>
      <alarm-state>unknown</alarm-state>
      <standby-state>unknown</standby-state>
    </state>
    <o-ran-name xmlns="urn:o-ran:hardware:1.0">o-ran-ru2</o-ran-name>
    <energy-saving-enabled xmlns="urn:o-ran:hardware:1.0">false</energy-saving-enabled>
    <hardware-rev>TEST</hardware-rev>
    <firmware-rev>TEST</firmware-rev>
    <software-rev>TEST</software-rev>
    <serial-num>TEST</serial-num>
    <mfg-name>TEST</mfg-name>
    <model-name>TEST</model-name>
  </component>
</hardware>
```
As you can see, the class name reference the o-ran-hardware identity O-RU-COMPONENT, which is base on the iana-hardware:module
```
<class xmlns:o-ran-hw="urn:o-ran:hardware:1.0">o-ran-hw:O-RU-COMPONENT</class>
```
but why set return unknown element? Is it the leaf `product-code` don't inject into the `ietf-hardware` from `o-ran-hardware` by argument statement? is the reason `when` statement don't match?

Hi,
I am getting tired of this so I have attached all the modules I used and an example application (just a modified example from *sysrepo*).

[o_ran_yang.tar.gz](https://github.com/sysrepo/sysrepo/files/5136213/o_ran_yang.tar.gz)

1. Install the 3 modules from the archive.
2. Enable `hardware-state` feature of `ietf-hardware` and `ENERGYSAVING` feature of `o-ran-hardware`. This was my `sysrepoctl -l` output:
```
Sysrepo repository: /home/vasko/Documents/sysrepo/build/repository

Module Name                | Revision   | Flags | Owner       | Permissions | Submodules | Features      
---------------------------------------------------------------------------------------------------------
iana-hardware              | 2018-03-13 | I     | vasko:users | 600         |            |               
ietf-datastores            | 2018-02-14 | I     | vasko:users | 666         |            |               
ietf-hardware              | 2018-03-13 | I     | vasko:users | 600         |            | hardware-state
ietf-inet-types            | 2013-07-15 | i     |             |             |            |               
ietf-netconf               | 2011-06-01 | I     | vasko:users | 666         |            |               
ietf-netconf-notifications | 2012-02-06 | I     | vasko:users | 666         |            |               
ietf-netconf-with-defaults | 2011-06-01 | I     | vasko:users | 666         |            |               
ietf-origin                | 2018-02-14 | I     | vasko:users | 666         |            |               
ietf-yang-library          | 2019-01-04 | I     | vasko:users | 666         |            |               
ietf-yang-metadata         | 2016-08-05 | i     |             |             |            |               
ietf-yang-types            | 2013-07-15 | i     |             |             |            |               
o-ran-hardware             | 2019-07-03 | I     | vasko:users | 600         |            | ENERGYSAVING  
sysrepo-monitoring         | 2020-04-17 | I     | vasko:users | 600         |            |               
yang                       | 2017-02-20 | I     | vasko:users | 666         |            |               

Flags meaning: I - Installed/i - Imported; R - Replay support; N - New/X - Removed/U - Updated; F - Feature changes
Features: ! - Means that the feature is effectively disabled because of its false if-feature(s)
```
3. Compile the example and run it as
```
oper_data_example ietf-hardware /ietf-hardware:hardware
```
4. Use `sysrepocfg -X -d operational -m ietf-hardware` to retrieve the data:
```
<hardware xmlns="urn:ietf:params:xml:ns:yang:ietf-hardware">
  <component>
    <name>nm</name>
    <class xmlns:o-ran-hw="urn:o-ran:hardware:1.0">o-ran-hw:O-RAN-RADIO</class>
    <product-code xmlns="urn:o-ran:hardware:1.0">prod_code</product-code>
    <state>
      <power-state xmlns="urn:o-ran:hardware:1.0">UNKNOWN</power-state>
    </state>
  </component>
</hardware>
```

It is up to you to figure out what you are doing wrong. Also, you cannot use `sr_set_item_example` because you are working with state (`config` `false`) data, the example is always working with `running` datastore and there can be no state data.


Many many thanks @michalvasko , You are so patient.
I have solved this issue by comparing with your code, and I don't `lyd_new_path` the `class` leaf into operational datastore.
I think this issue can be closed.