Problem subscribing to notifications using "stream"

Hello, I'm trying to subscribe using netopeer2-cli  using the "--stream" option. It works with no stream, with NETCONF, and with module name, but not with other named streams.

For example:
```
> subscribe --stream NETCONF
OK
```
```
> subscribe --stream o-ran-supervision
OK
```
```
> subscribe --stream supervision-notification
ERROR
        type:     application
        tag:      operation-failed
        severity: error
        message:  Module "supervision-notification" was not found in sysrepo.

        type:     application
        tag:      operation-failed
        severity: error
        message:  User callback failed.
```
OK, so "supervision-notification" doesn't exist as a stream. What streams are available? If I look at the netconf notifications, I can see the provided streams, e.g. (some lines removed to make it shorter)...
```
> get --filter-xpath "/nc-notifications:*"
DATA
<data xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <netconf xmlns="urn:ietf:params:xml:ns:netmod:notification">
    <streams>
      <stream>
        <name>NETCONF</name>
        <description>Default NETCONF stream containing notifications from all the modules. Replays only notifications for modules (streams) that support replay.</description>
        <replaySupport>true</replaySupport>
      </stream>
...
     <stream>
        <name>o-ran-supervision</name>
        <description>Stream with all the notifications of a module.</description>
        <replaySupport>false</replaySupport>
      </stream>
      <stream>
        <name>o-ran-sync</name>
        <description>Stream with all the notifications of a module.</description>
        <replaySupport>false</replaySupport>
      </stream>
...
    </streams>
  </netconf>
</data>
```
So, it seems that every installed module and NETCONF is added as a stream. Can I add other, arbitrary streams? I tried to. The above data is RO / operational data, so I added an operational callback to insert the wanted stream names, and they appear in the list when I do a get as before...
```
...
     <stream>
        <name>fault-management</name>
        <description>TEST1</description>
      </stream>
      <stream>
        <name>supervision-notification</name>
        <description>TEST2</description>
      </stream>
    </streams>
  </netconf>
</data>
```
But, I still can not subscribe to these new streams, and there was no indication that netopeer2 was even trying to find out which streams are available.

How can I register the new stream names into NETCONF / sysrepo so that I can subscribe to them from client? Is it possible?

Thankyou.

You cannot define new notification streams so yes, no matter what you do, it will not work. What would you like your stream to do? You can get pretty much any set of notifications by using a filter (with an optional stream) selecting the notifications to receive.

This is for O-RAN M-Plane implementation, which has 3 additional streams defined.

"9.1.7.2 Event streams
All O-RUs shall support the default “NETCONF” event stream, as specified in clause 3.2.3 of RFC 5277 [21]. In addition to the default event stream, O-RUs should support the following event streams:
- “fault-management” used to subscribe to YANG notification events defined in o-ran-fm YANG model.
- “measurement-result-stats” used to subscribe to YANG notification events defined in o-ran-performance-management YANG model.
- “supervision-notification” used to subscribe to YANG notification events defined in o-ran-supervision YANG model."

It goes on to say...
"9.1.7.3 Event stream discovery and subscription
...
The O-RU shall support event stream discovery as defined in clause 3.2.5 of RFC5277. Prior to initiating a dynamic subscription to an event stream, an O-RU controller can discover the O-RU’s supported event streams. Refer to clause 3.2.5 of RFC5277 for detail."

RFC 5277, 3.2.5 says...
"The list of available event streams is retrieved by requesting the <streams> subtree via a <get> operation.
...
   The NETCONF server returns a list of event streams available for
   subscription: NETCONF, SNMP, and syslog-critical in this example.

   <rpc-reply message-id="101"
                    xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
     <data>
       <netconf  xmlns="urn:ietf:params:xml:ns:netmod:notification">
        <streams>
           <stream>
              <name>NETCONF</name>
              <description>default NETCONF event stream
              </description>
              <replaySupport>true</replaySupport>
              <replayLogCreationTime>
                2007-07-08T00:00:00Z
              </replayLogCreationTime>
           </stream>
           <stream>
              <name>SNMP</name>
              <description>SNMP notifications</description>
              <replaySupport>false</replaySupport>
           </stream>
           <stream>
             <name>syslog-critical</name>
             <description>Critical and higher severity
             </description>
             <replaySupport>true</replaySupport>
             <replayLogCreationTime>
               2007-07-01T00:00:00Z
             </replayLogCreationTime>
            </stream>
           </streams>
         </netconf>
     </data>
   </rpc-reply>
"

Which is basically what I tried to do, but it seems sysrepo / netopeer2 doesn't seem to use this: it is only aware of the streams "NETCONF" and one stream per installed module (with same name as the module).

To be honest, I can probably get away with just supporting the streams NETCONF and o-ran-supervision, but strictly speaking the O-RAN spec specifies the stream "supervision-notification" in this case.

I should also add to the above, and say that the particular issue is that the server needs to know when the client subscribes to the stream (since it is used as a trigger for a watchdog timer).

Well, the streams are technically there but they are called differently. I do not think it is worth it to implement some complex stream management for this use-case. To be notified about a new subscription you should only have to subscribe to `/notifications:create-subscription` RPC and read the stream name in the callback.

>> To be notified about a new subscription you should only have to subscribe to /notifications:create-subscription RPC and read the stream name in the callback.

Yes, that's what I was hoping, but netopeer2 rejects streams that aren't NETCONF or a module name. Maybe it will work with another client.

Thanks for your help.

Thanks for your help