When statements do not return an error when accessing locked data

* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest sysrepo devel branch?

### Description
As of commit 3a65693, we have seen an issue with when statements. It seems like this feature was intended to delete locked data whenever the when statement was no longer satisfied, which is correct according to RFC 7950. However, whenever we directly try to modify the locked data when the statement is not satisfied the behavior is not what we expect. The server does not modify the data, which is correct, but it sends and rpc-ok instead of an rpc-error message. (this error is specified in [RFC 7950 Section 8.3.2](https://tools.ietf.org/html/rfc7950#section-8.3.2)).
```
o  Modification requests for nodes tagged with "when", and the "when"
      condition evaluates to "false".  In this case, the server MUST
      reply with an "unknown-element" <error-tag> in the <rpc-error>.
```

### Steps to Reproduce
We've written integration tests that demonstrate this issue. See CI results, lines 7523 and 7526 (currently marked as xfail). The source code for the tests are [here](https://www.github.com/ADTRAN/Netopeer2-integration-tests/blob/master/tests/test_when.py#L16) and [here](https://www.github.com/ADTRAN/Netopeer2-integration-tests/blob/master/tests/test_when.py#L49). The yang model we are using is [here](https://www.github.com/ADTRAN/Netopeer2-integration-tests/blob/master/yang/test-models/test-when.yang).

**Expected behavior:**
 The expected behavior based on the YANG 1.1 RFC, is that when the when statement becomes unsatisfied then the server will remove the data that is locked behind the scenes (this is currently correct). But if the locked data is modified and the when statement is not satisfied it should return an error with an unknown-element error tag.

**Actual behavior:**
 When the locked data is modified and the when statement is not satisfied, it does not modify the data but it returns an rpc-ok message instead.

### Versions
Please provide versions for software needed to reproduce the bug:
Sysrepo version: 0.7.6 (latest devel)
libyang version: 0.16.75 (latest devel)
netopeer2-server: 0.16.20 (latest devel)

Hi,
you are right and the main issue was in *libyang*, which is fixed. Additionally, I changed the error that *netopeer2-server* returns in this case so it matches what is written in the RFC. If you update both (*libyang* and *netopeer2*), your tests should pass.

Regards,
Michal