Locking of datastores does not work any more

The recent changes in shm_sub.c have the side effect that when a datastore is locked in one session it can be locked also in an other session. The reason is the use of sr_session_stop() in several of the sr_shmsub_XXX_listen_XXX() functions which unlocks all modules. In the old implementation sr_clear_sess() has been used instead which did not unlock the modules.

I used a workaround with a new function sr_session_clean() that does the same as sr_session_stop() but omits the module unlocking. The result is now that the session which locked the datastore cannot unlock it again because the session ID of the RPC unlock is different than the ID in the locked modules. The reason seems to be that now event sessions with new session IDs (incremented every time) are used in shm_sub.c and the external (real) session ID from the SHM was shifted to a new place session->ev->ev_sid. But the locking and callback functions use the old session->sid which is not the external session ID but the new event session ID.

So my understanding is that you are locking the modules in a callback and expect the locks to be held even after the event so the originator session (the one that generated the event for the callback) can then unlock them?

Yes, this (unfortunately) worked before because of how the SIDs were mishandled, precisely the reason it was changed. This is completely invalid because it essentially allows the callback session to present itself to *sysrepo* as the originator session. These 2 sessions may easily exist in different processes so this identity problem is not just a functional but even a security problem.

What I'm doing is running an old conformance testcase against the whole stack via netconf requests.
- open session 1; lock running datastore --> works
- open session 2; try to lock running datastore --> works but should not

RFC-6241 section 7.5: An attempt to lock the configuration datastore MUST fail if an existing session or other entity holds a lock on any portion of the lock target.

I think I got pretty good at the guess-work often needed for fixing these issues but it still took me some time until I figured out you are talking about *netopeer2*, you have not mentioned it once. In any case, it should work properly now with the latest *netopeer2* `devel`, I have just failed to properly reference the issue.

Sorry for being not clear enough. Normally all our tests are using the complete stack.

I tried it with your fix but unfortunately the problem persists. This seems to be the effect of using sr_session_stop() in the callbacks which explicitely clears the locks in SHM in the end of a lock RPC processing.

Then you will have to be more specific, I have tried the following scenario and it worked fine.

  - lock with session 1 (ok)
  - lock with session 1 (fail)
  - lock with session 2 (fail)

I'm very sorry, I made a mistake when building the stack. Your fix was not really active yet.
It is working now.
Thanks!

Now a different scenario fails:
- open session
- lock running DS
- edit-config running DS --> fails with 'Module "XYZ" is locked by session X (NC SID Y).'

Okay, that makes sense. Please try again now (again failed to reference this issue in *netopeer2*, force-push is forbidden).

With the latest fix I have the following effect:
- session1.lock: ok
- session1 lock running DS: ok
- session1 edit-config leaf X=1: ok
- session2 edit-config leaf X=2: rejected, ok
- session2 get-config leaf X=2: not ok, should be 1

Okay, should work correctly now. However, the value was not actually in the datastore, it was just kept in the session and applied on any retrieved data.

This solves the issue. Now all our locking tests are passed.
Thanks!