copy-config works from candidate to startup (shouldn't be allowed based on RFC8342)

From https://datatracker.ietf.org/doc/rfc8342/,  it is clearly mentioned that copy-config should only be possible from running to startup. I tried with Netopeer2-server v2.1.59 and Sysrepo v2.2.60 and it is letting me do it.

Please confirm if it is a bug or provide info on this.

Which part of the RFC are you referring to?

This is from section 4.1 Original Model of Datastores
Text is:
**Furthermore, <startup> can only be modified by copying <running> to <startup> in the standardized NETCONF datastore editing model.**
![Section4 1_RFC8342](https://github.com/sysrepo/sysrepo/assets/84345663/41a0d43e-c00b-42bb-abe1-479aee0fdf22)


A TL;DR summary: since Netopeer2 supports NMDA, a background text which says that some stuff was not possible **before NMDA** is irrelevant.

You're quoting from the NMDA RFC (which Netopeer2-server supports). That RFC extended the NETCONF RFC (which Netopeer2 also supports). What NMDA says is that **before NMDA**, it was not possible to issue an `<edit-config>` targeting the `startup` DS. That part is correct. By the way, the old NETCONF RFC [explicitly says](https://datatracker.ietf.org/doc/html/rfc6241#section-8.7.5.1) that `<delete-config>` is also supported on the `startup` DS, so clearly the "Background" chapter in the NMDA RFC that you're quoting from is not 100% correct: there *is* another operation besides `<copy-config/>` which modifies the `startup` DS.

Another BTW, the classic pre-NMDA NETCONF made a lot of feature optional. There's no guarantee that the `running` DS is writable in the first place, or that the `candidate` DS is present. When none of these two features is enabled, then apparently no modifications are possible *at all* since `<edit-config>` cannot target any datastore. Such a system would be rather useless, and in fact, such a YANG content won't pass validation. Consider this YANG snippet taken from RFC 6241:
```yang
      input {
        container target {
          description
            "Particular configuration to edit.";

          choice config-target {
            mandatory true;
            description
              "The configuration target.";

            leaf candidate {
              if-feature candidate;
              type empty;
              description
                "The candidate configuration is the config target.";
            }
            leaf running {
              if-feature writable-running;
              type empty;
              description
                "The running configuration is the config source.";
            }
          }
        }
```
If neither the `candidate` nor `writable-running` feature is enabled, then you are left with no allowed data nodes within a mandatory `choice` statement. No configuration would be valid under these circumstances, so clearly it's a situation which doesn't make any sense.

Fortunately, it's for the NETCONF server to decide which of these optional features are enabled, and Netopeer2 decided to enable *both* of them, so that you can do something useful with your NETCONF server, even prior to NMDA. And on top of that, Netopeer2 server also happened to decide to support the NMDA, lifting even more limitations and providing a better experience to the remote user who's talking NETCONF.

Agreed! But the same can be inferred from 5.  Architectural Model of Datastores
![RFC8342](https://github.com/sysrepo/sysrepo/assets/84345663/1dad1e5c-848e-4cec-84a1-e7e04ffe9cd9)


Keeping this in mind, what behavior should be expected in this case
**Use case steps:**
1. A config leaf is changed in candidate DS
2. copy-config from candidate DS to startup DS
3. Restart netopeer2-server and application connected to Sysrepo

> Agreed! But the same can be inferred from 5. Architectural Model of Datastores 

I don't understand this comment. What do you infer, and based on what part of which RFC do you make that observation?

The arrows in the picture do not show "all possible combinations of a `<copy-config>` operation". They show how the data would typically "flow":

- during boot, the content of `startup` propagates to `running`
- it's very common to copy stuff from `running` to `startup`; that's the very common operation of "make my changes persistent"
- some agents prefer not to work with `running` directly, it might make sense to "stage" stuff in `candidate` first, and the flow is "bidirectional" in that config commits save the configuration from `candidate` to `running`, and the initial content of `candidate` is derived from `running`
- `intended` is considered to be a function of `running` as explained in the comment within the picture
- `operational` gets (a big part of the configuration part of) the content from `intended` (or `running` if there are no transformations), *and* it gets a lot of content from other places as well, be it non-config data, or removals of config that's actually "not in effect", etc etc etc

> Keeping this in mind, what behavior should be expected in this case **Use case steps:**
> 
>     1. A config leaf is changed in candidate DS
> 
>     2. copy-config from candidate DS to startup DS
> 
>     3. Restart netopeer2-server and application connected to Sysrepo

In step 2) above, the content of `startup` will be the same as the content of your temporarily modified `candidate` from step 1. In step 3, presumably the content of `running` will be the same as the content of `startup` in step 2.

Also, check the definition of the `copy-config` RPC from the plan old [RFC 6241](https://datatracker.ietf.org/doc/html/rfc6241):
```yang
rpc copy-config {
  description
    "Create or replace an entire configuration datastore with the
     contents of another complete configuration datastore.";

  reference "RFC 6241, Section 7.3";

  input {
    container target {
      description
        "Particular configuration to copy to.";

      choice config-target {
        mandatory true;
        description
          "The configuration target of the copy operation.";

        leaf candidate {
          if-feature candidate;
          type empty;
          description
            "The candidate configuration is the config target.";
        }
        leaf running {
          if-feature writable-running;
          type empty;
          description
            "The running configuration is the config target.
             This is optional-to-implement on the server.";
        }
        leaf startup {
          if-feature startup;
          type empty;
          description
            "The startup configuration is the config target.";
        }
        leaf url {
          if-feature url;
          type inet:uri;
          description
            "The URL-based configuration is the config target.";
        }
      }
    }

    container source {
      description
        "Particular configuration to copy from.";

      choice config-source {
        mandatory true;
        description
          "The configuration source for the copy operation.";

        leaf candidate {
          if-feature candidate;
          type empty;
          description
            "The candidate configuration is the config source.";
        }
        leaf running {
          type empty;
          description
            "The running configuration is the config source.";
        }
        leaf startup {
          if-feature startup;
          type empty;
          description
            "The startup configuration is the config source.";
        }
        leaf url {
          if-feature url;
          type inet:uri;
          description
            "The URL-based configuration is the config source.";
        }
        anyxml config {
          description
            "Inline Config content: <config> element.  Represents
             an entire configuration datastore, not
             a subset of the running datastore.";
        }
      }
    }
  }
}
```
There's no `must` statement which would exclude, say, a copy from `candidate` to `startup`. Some [additional constraints are set in section 7.3](https://datatracker.ietf.org/doc/html/rfc6241#section-7.3), but nothing like excluding a copy from `candidate` to `startup`.

Thank you for the elaborate answers. I understood the intent now. 
I am seeing the following behavior. Please confirm if all of that is expected

- change a config leaf in candidate
- candidate has the change and running and startup don't
- issued copy-config from candidate to startup
- candidate and startup have the change and running doesn't
- restarted our application and netopeer2-server
- I see the changed leaf in all the 3 datastores


Yes, that should all behave as expected.

So, two things happen in this case

1. startup config is copied to running 
2. Sysrepo remembers that leaf in startup config was copied from candidate and on restart, that leaf is copied from startup to candidate?